In [63]:
class People:
    def __init__(self, name, birth_year, gender):
        self.age = 2021 - birth_year
        self.name = name
        self.gender = gender
        
    def print_age(self):
        print(f'{self.name} is {self.age} years old in 2021.')

In [60]:
class Year():
    def __init__(self, classes: list):
        self.classes = classes

In [61]:
class Class():
    def __init__(self, years, students: list):
        self.years = years
        self.students = students
        self.years.classes.append(self)

In [62]:
class Subject:
    def __init__(self, name, description, years):
        self.name = name
        self.description = description
        self.years = years

In [16]:
class Student(People):
    def __init__(self, name, birth_year, gender, s_class: list, gpa, parent_phone):
        super().__init__(name, birth_year, gender)
        self.gpa = gpa
        self.s_class = s_class
        self.parent_phone = parent_phone
        self.s_class.students.append(self)

In [47]:
class Teacher(People):
    def __init__(self, name, birth_year, gender, subjects: list, wh_weekly, wage_hourly):
        super().__init__(name, birth_year, gender)
        self.subjects = subjects
        self.wh_weekly = wh_weekly
        self.wage_hourly = wage_hourly
    
    def salary(self):
        return self.wh_weekly* 52 * self.wage_hourly / 12
        
        
class FormTeacher(Teacher):
    def __init__(self, name, birth_year, gender, subjects: list, wh_weekly, wage_hourly, s_class):
        super().__init__(name, birth_year, gender, subjects, wh_weekly, wage_hourly)
        self.school_class = s_class

class Headmaster(Teacher):
    def __init__(self, name, birth_year, gender, subjects: list, wh_weekly, wage_hourly, bonus):
        super().__init__(name, birth_year, gender, subjects, wh_weekly, wage_hourly)
        self.bonus = bonus

        
    def salary(self):
        return self.wh_weekly* 52 * self.wage_hourly / 12 + self.bonus

In [44]:
p = Teacher("Gabor", 1967, 'man', ['Maths', 'Biology', 'Physics'], 25, 200)

In [48]:
d = Headmaster('Karoly', 1956, 'man' ,'', 30, 200, 300)

In [49]:
print(d.salary())

26300.0

In [52]:
class School():
    def __init__(self, students: list, teachers: list, headmaster, name, adress):
        self.students = students
        self.teachers = teachers
        self.headmaster = headmaster
        self.name = name
        self.adress = adress

In [58]:
t1 = Teacher("Josef", 1970, 'male', 'Maths', 24, 200)
t2 = Teacher("Kylie", 1990, 'female', 'Biology', 20, 170)
t3 = Teacher("Isaiah", 1983, 'male', 'English', 25, 220)

ft1 = FormTeacher("Karol", 1970, 'male', ['Biology', 'Maths'] , 24, 200, 10)
ft2 = FormTeacher("Cristina", 1987, 'female', ['Biology'] , 20, 170, 11)
ft3 = FormTeacher("Isaiah", 1983, 'male', ['Maths', 'English'] , 25, 220, 9)

dir1 = Headmaster('Karoly', 1956, 'male', ['Biology'], 30, 200, 200)

sub1 = Subject('Biology', 'Biology is the natural science that studies life and living organisms, including their physical structure, chemical processes, molecular interactions, physiological mechanisms, development and evolution.', [9, 10])
sub2 = Subject('Maths', 'The science that draws necessary conclusions', [10, 11])
sub3 = Subject('English', 'English is a West Germanic language first spoken in early medieval England, which has eventually become the leading language of international discourse in the 21st century', [9])

s1 = Student('Tim', 1998, 'male', 10, 4.2, 234044)
s2 = Student('Lana', 1999, 'female', 11, 3.2, 234045)
s3 = Student('Tom', 1996, 'male', 10, 3.6, 234046)
s4 = Student('Rebecca', 1995, 'female', 9, 4.3, 234047)
s5 = Student('Tam', 1994, 'male', 9, 4.4, 234048)
s6 = Student('Jasmin', 1993, 'female', 11, 4.6, 234049)
s7 = Student('Tum', 1992, 'male', 11, 4.5, 234010)
s8 = Student('Mia', 1991, 'female', 9, 2.2, 234011)
s9 = Student('Tem', 1990, 'male', 10, 3.8, 122341)
s10 = Student('Riley', 2000, 'female', 11, 4.2, 135151)

school1 = School([s1, s2, s3, s4, s5, s6, s7, s8, s9, s10], [t1, t2, t3], dir1, "High High School", '14234 Birminghamborough UK')

AttributeError: 'int' object has no attribute 'students'